/* .kasa-layout {
    width: 90%;
    position: relative;
    right: 5%;
    left: 5%;
} */

.kasa-header {
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 50px;
}

.kasa-header-nav {
    width: 25%;
    display: flex;
    justify-content: inherit;
}

.kasa-logo {
    left: 0%;
    right: 83.04%;
    top: 0%;
    bottom: 0%;
}

.linkText {
    left: 75.08%;
    right: 13.95%;
    top: 25%;
    bottom: 25%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */

    display: flex;
    align-items: center;
    text-align: right;
    text-decoration: none;
    color: #ff6060;
}

.linkText:hover {
    text-decoration: underline;
    color: #ff6060;
}

.linkTextTwo {
    left: 90.65%;
    right: 0%;
    top: 25%;
    bottom: 25%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */

    display: flex;
    align-items: center;
    text-align: right;
    text-decoration: none;
    color: #ff6060;
}

.linkTextTwo:hover {
    text-decoration: underline;
    color: #ff6060;
}

@media screen and (max-width: 780px) {
    /* .kasa-layout {
        position: unset;
        margin: auto;
    } */

    .kasa-header {
        display: flex;
        align-content: center;
    }

    .kasa-logo {
        height: 85%;
        width: 45%;
    }

    .kasa-header-nav {
        width: 45%;
    }

    .linkText {
        font-size: 15px;
    }

    .linkTextTwo {
        font-size: 15px;
    }
}