*{
    padding: 0;
}

.houseTitle{
   color: #FF6060;
   font-size: 36px;
   font-weight: 200;
}
.houseLocalisation{
    color: #FF6060;
    font-size: 18px;
 }
.flexContainer{
    display: flex;
    justify-content: space-between;
}
 .tagsContainer{
    display: flex;
    padding: 0;
    height: 10%;
    align-items: center;
 }

 .tags{
    list-style: none;
    color: #fff;

    font-size: 14px;

    box-sizing: border-box;
    margin-right: 16px;
    padding: 12px;

    background-color: #FF6060;
    border-radius: 15px;
 }

.hostContainer{
    display: flex;
    margin-top: 30px;
}
.hostContainer p{
    margin-right: 24px;
}
 .hostName{
    color: #FF6060;
    font-size: 18px;
 }
 .hostImg{
    border-radius: 75px;
    width: 64px;
    height: 64px;
 }

 .mobileFlexReverseHost{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
 }

 .starRating{
    height: 30px;
    width: 30px;
}


 .collapseContainer{
    display: flex;
    flex-flow: column;
    width: 47%;
  
}

 .collapseContain{
    display: flex;
    justify-content: space-between;
    margin-bottom: 114px;
    width: 50%;
 }

 .collapseBanner{
    background-color: #FF6060;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
 }
 
 .collapseHouseTab{
    width: 40%;
 }

.houseCollapseContainer{
    display: flex;
    justify-content: space-between;
}

.justifyRightCollapse{
    display: flex;
    justify-content: flex-end;
}

.collapseDescription{
    font-weight: 100;
}



@media screen and (max-width: 780px){
  
    #root{
        margin: auto;
        /* width: 80%; */
   }

    body{
        display: flex;
        margin: auto;
    }

    .houseCollapseContainer {
        display: flex;
        flex-direction: column;
    }

    .flexContainer {
        flex-direction: column;
    }

    /* .houseCollapseMobileAdjust{
        width: 100%;
    } */

    .houseTitle{
        font-size: 18px;
     }

     .houseLocalisation{
         font-size: 12px;
      }

    .tags{
        border-radius: 5px;
        height: 18px;
        font-size: 10px;
        display: flex;
        align-items: center;
    }
    .mobileFlexReverseHost{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .hostContainer p {
        margin-right: 8px;
    }
    .starContainer{
        padding-bottom: 16px;
        width: 45%;
        display: flex;
        height: 20%;
        align-self: flex-end;
    }
    .hostContainer{
        justify-content: flex-end;
        width: 45%;
        margin: 0;
    }
    .hostImg{
        height: 32px;
        width: 32px;
    }
    .hostName{
        font-size: 12px;
    }
    .starRating{
        height: 15px;
        width: 15px;
    }

}